/*generale*/

.clear{
	clear: all;
}

.bold{
	font-weight: bold;
}

.row{
	margin-left: 0;
	margin-right: 0;
}


/*header*/

.site-header div{
	color: #fff; 
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
}

.site-header i{
	color: yellow;
}

nav, nav h1, nav a, nav a:hover{
	background-color: #06c;
	color: #fff;
}

nav h1{
	font-weight: bold;
}

nav h1, nav ul li{
	float: left;
}

nav ul{
	float:right;
}

nav ul, nav h1 {
	padding: 20px;
}

nav ul li{
	margin: 10px;
}



/*dashboard*/

#dashboard{
	text-align: center;
}

#dashboard h1{
	margin-top: 50px;
}

#dashboard h2{
	margin-top: 30px;
	margin-bottom: 50px;

}

#dashboard .canvas{
	float:left;
	margin: 0 auto;
}


canvas{
	max-width: 1000px;
	max-height: 1000px;
}


p#chart-1-label, p#chart-2-label{
	margin-top: 20px;
	font-size: 28px;
	font-weight: bold;
}


/*content*/

#content{
	margin-top: 100px;
	margin-bottom: 60px;
}

#content td.red{
	color: red;
}

#content .sorting_1{
	font-weight: bold;
}

/*footer*/


footer ul{
	float: right;
}

footer ul li{
	float: left;
	padding: 0 30px;
}




/* media query*/

@media only screen and (max-width: 768px) {
	.no-mobile{
		display:none;
	}
}